apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: logging-monitoring
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/pods/**/*.log
      pos_file /var/log/fluentd-containers.log.pos
      tag kubernetes.*
      read_from_head true
      <parse>
        @type json
        time_key time
        time_format %Y-%m-%dT%H:%M:%S.%NZ
        keep_time_key true
      </parse>
    </source>
    
    <filter kubernetes.**>
      @type kubernetes_metadata
    </filter>
    
    <match kubernetes.**>
      @type stdout
    </match>