apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deploy
  namespace: tutorial
  labels:
    app: webapp
    tutorial: autoscaling
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
        tutorial: autoscaling
    spec:
      containers:
      - name: webapp
        image: nginx:latest
        ports:
        - containerPort: 80
          name: http
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"

