apiVersion: v1
kind: Service
metadata:
  name: webapp-service
  namespace: tutorial
  labels:
    app: webapp
    tutorial: autoscaling
spec:
  type: ClusterIP
  selector:
    app: webapp
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    name: http

